@charset "utf-8";
/* CSS Document */
*{
	padding: 0;
	margin:0;
	font-family: 'Krona One', sans-serif;
}
Img{
	width:100%;
}
body{
	background-color:#969593;
}
.header{
	margin-top: 5%;
	width:75%;
	margin:0 auto;
	margin-bottom:5%;
}

.synopsis{
	margin-top: 5%;
	margin:0 auto;
	width:95%;
	text-align: center;
	font-size:.8em;
	margin-bottom:5%;
}
aside{
	font-size:1.2em;
	margin-top:5%;
}

.arch1{
	margin-left:5%;
	margin-bottom:5%;
}
.arch1 img{
	width:16%;
	margin-right:2%;
}
.arch1 h2{
	margin-bottom:2%;
}

.arch2{
	margin-left:5%;
	margin-bottom:5%;
}
.arch2 img{
	width:16%;
	margin-right:4%;
}
.arch2 h2{
	margin-bottom:2%;
}
.arch3{
	margin-left:5%;
	margin-bottom:5%;
}
.arch3 img{
	width:16%;
	margin-right:2%;
}
.arch3 h2{
	margin-bottom:2%;
}

@media screen and (max-width: 500px){
.header{
	margin-top:5%;	
	}
.synopsis{
	margin:0 auto;
	width:95%;
	text-align: center;
	font-size:.6em;
	margin-bottom:8%;
	
}

.arch1{
	margin-left:8%;
	margin-bottom:5%;
}
.arch1 img{
	width:90%;
	margin-right: 2%;
	margin-bottom:3%;
	
}
.arch1 h2{
	text-align: center;
	font-size:.8em;
	margin-bottom:6%;
}

.arch2{
	margin-left:8%;
	margin-bottom:5%;
}
.arch2 img{
	width:90%;
	margin-right: 2%;
	margin-bottom:3%;
}
.arch2 h2{
	text-align: center;
	font-size:.8em;
	margin-bottom:6%;
}
.arch3{
	margin-left:8%;
	margin-bottom:5%;
}
.arch3 img{
	width:90%;
	margin-right: 2%;
	margin-bottom:3%;
}
.arch3 h2{
	text-align: center;
	font-size:.8em;
	margin-bottom:6%;
}
}